@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,400&family=Roboto&display=swap');

body{
    font-family: Roboto, Arial, Nova, Cond;
    color: #FCFCFC;
}

/*.App {*/
/*  text-align: center;*/
/*}*/

.content{
    width: calc(100% - 240px);
    min-height: 100vh;
    background: #171719;
    position: absolute;
    top: 0;
    right: 0;

    margin: auto;
    box-sizing: border-box;
}

.contentMainBcg{
    width: 100%;
}

